SUPABASE_URL=https://mgphbhpyfmfuferkfqoo.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1ncGhiaHB5Zm1mdWZlcmtmcW9vIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU3NTAyODgsImV4cCI6MjEwMTMyNjI4OH0.SI6g_XrTYtE9vnN2lzBReZ9gZ-ngj2EYQ0Hjo40fhyI
